@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoskoBold Bold';
    src: url('../fonts/KoskoBold-Bold.eot');
    src: url('../fonts/KoskoBold-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KoskoBold-Bold.woff') format('woff'),
        url('../fonts/KoskoBold-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}