* {
  box-sizing: border-box;
  font-family: 'Segoe UI Regular', sans-serif;
}
p,
h2 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.text-container {
  max-width: 76.9%;
  margin: auto;
}
.href-decor {
  text-decoration: none;
}
img {
  display: block;
}
.button {
  display: block;
  background: #FED632 0% 0% no-repeat padding-box;
  border-radius: 12px;
  font-size: 25px;
  font-family: 'Segoe UI Semibold', sans-serif;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
button:active,
button:focus {
  position: гelative;
  border: none;
  outline: none;
}
.flickity-viewport {
  overflow: visible !important;
}
.carousel-cell {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.is-selected {
  opacity: 1;
  transition: opacity 0.5s;
}
.flickity-prev-next-button {
  height: 52px !important;
}
.flickity-prev-next-button .flickity-button-icon {
  width: 26px !important;
  height: 52px !important;
}
.href-decor {
  cursor: unset;
}
.flickity-page-dots {
  pointer-events: none;
}
.flickity-page-dots .dot {
  pointer-events: auto;
}
