@import './_fonts.less';
@import './_mixin.less';

.header {
    text-align: center;
    position: relative;
    width: 100%;
    &__back {
        position: absolute;
        z-index: -1;
        .img-top {
            width: 100%;
        }
        .img-btm {
            margin-top: -36.7vw;
            width: 100%;
        }
    }
    .img-logo {
        width: 56.23%;
        margin: auto;
        padding-top: 11.29vw;
    }
    &__title {
        margin-top: -4.47vw;
        font-size: 20px;
        font-family: @bold;
    }
    &__cost {
        margin-top: 10.58vw;
        font-size: 7.29vw;
        line-height: 7.05vw;
        span {
            text-decoration: line-through;
        }
    }
    &__btn {
        margin: auto;
        margin-top: 67.057vw;
        width: 68.94%;
        height: 73px;
        font-size: 5.88vw;
    }
    &__sell {
        margin-top: 8.23vw;
        font-size: 8.47vw;
        font-family: @kosko;
        text-transform: uppercase;
    }
}
.inform {
    margin-top: 32px;
    color: @grey;
    font-size: 20px;
    line-height: 27px;
    &__images {
        position: relative;
        margin-top: 40.23vw;
        height: 108.23vw;
        background: transparent linear-gradient(180deg, #79D5FE 0%, #79d5fed4 60%, #79d5febf 80%, #00B2FF00 100%) 0% 0% no-repeat padding-box;
        // background: transparent linear-gradient(180deg, #79D5FE 0%, #00B2FF00 100%) 0% 0% no-repeat padding-box;
        .img-back {
            width: 100%;
        }
        &__carousel {
            width: 100%;
            top: -37.88vw;
            position: absolute;
        }
        .inform-carousel {
            width: 85.4%;
            height: 167.535vw;
            margin: auto;
            .img-top {
                width: 100%;
            }
            .img-btm {
                width: 75.4%;
                margin: auto;
            }
            .flickity-prev-next-button.previous {
                // left: -30px !important;
                background: none !important;
                color: @white !important;
            }
            .flickity-prev-next-button.next {
                // right: -30px !important;
                background: none !important;
                color: @white !important;
            }
        }
    }
    &__text {
        &__btm {
            margin-top: 25.17vw;
        }
    }
} 
.collection {
    margin-top: 29px;
    text-align: center;
    &__img-top {
        height: 67px;
        height: 15.76vw;
        position: relative;
        display: flex;
        justify-content: center;
        img {
            position: absolute;
            width: 21.41%;
            z-index: 1;
        }
    }
    &__body {
        padding-top: 64px;
        padding-bottom: 23px;
        padding-bottom: 5.41vw;
        padding-top: 15.05vw;
        background: #E495FE;
        width: 100%;
        position: relative;
        .decor {
            width: 100%;
            position: absolute;
            top: 0;
            pointer-events: none;
        }
        .tagline {
            font-size: 36px;
            font-size: 8.47vw;
            font-family: @kosko;
            text-transform: uppercase;
        }
        .child {
            margin-left: 27px;
            margin-left: 6.35vw;
            width: 91.05%;
        }
        .offer {
            margin-top: -8px;
            font-size: 23px;
            line-height: 31px;
            font-size: 5.41vw;
            line-height: 7.29vw;
            color: @white;
            text-transform: uppercase;
        }
        .btn {
            width: 76.94%;
            height: 73px;
            margin: auto;
            margin-top: 11px;
            font-size: 5.88vw;
        }
        .info {
            margin-top: 5px;
            text-align: center;
            color: @white;
            font-size: 18px;
            font-size: 4.23vw;
        }
    }
}
.description {
    &__title {
        font-size: 23px;
        line-height: 31px;
        font-family: @bold;
        margin-top: 30px;
    }
    .description-carousel {
        margin-top: 10px;
        width: 100%;
        height: 92.0212vw;
        img {
            width: 100%;
        }
    }
    &__info {
        font-size: 20px;
        line-height: 27px;
        color: @grey;
        margin-top: 90px;
        padding-bottom: 30px;
        border-bottom: 1px solid @grey;
    }
    &__tagline {
        font-size: 23px;
        line-height: 31px;
        font-family: @bold;
        margin-top: 30px;
    }
    &__material {
        margin-top: 35px;
        height: 42.35vw;
        background: #79A1FE;
        position: relative;
        img {
            margin-top: 11.52vw;
            width: 25.70%;
            display: inline-block;
        }
        &__text {
            margin-top: 9.88vw;
            margin-left: 12px;
            position: absolute;
            display: inline-block;
            color: @white;
            font-family: @bold;
            font-size: 5.41vw;
            line-height: 7.29vw;
            text-transform: uppercase;
        }
    }
    &__function {
        padding-top: 25px;
        height: 210px;
        background: #79D5FE;
        font-size: 23px;
        line-height: 31px;
    }
    &__count {
        font-family: @bold;
    }
    &__enum {
        margin-top: 20px;
    }
    .flickity-prev-next-button.previous {
        left: -10px !important;
        bottom: -84px !important;
        top: unset;
        background: none !important;
        color: #ACACAC !important;
    }
    .flickity-prev-next-button.next {
        right: -10px !important;
        bottom: -84px !important;
        top: unset;
        background: none !important;
        color: #ACACAC !important;
    }
    .flickity-page-dots {
        bottom: -55px !important;
        .dot {
            width: 16px;
            height: 16px;
            opacity: 1 !important;
            vertical-align: middle;
        }
        .is-selected {
            width: 25px;
            height: 25px;
        }
        li:nth-child(1) {
            background: #9EE54C !important;
        }
        li:nth-child(2) {
            background: #619CFF !important;
        }
        li:nth-child(3) {
            background: #D194FF !important;
        }
        li:nth-child(4) {
            background: #FF30C1 !important;
        }
    }
    .slider {
        pointer-events: none;
        width: 100%;
        height: 81.2212vw;
        .carousel-cell {
            opacity: 1;
        }
        .img-btm {
            width: 100%;
        }
    }
}
.review {
    margin-top: -11.76vw;
    &__image {
        width: 100%;
        height: 0;
        position: relative;
        display: flex;
        justify-content: center;
        img {
            position: absolute;
            width: 24%;
            margin: auto;
            top: 0;
            z-index: 10;
        }
    }
    &__title {
        padding-top: 29.88vw;
        text-align: center;
        font-family: @kosko;
        font-size: 8.47vw;
        text-transform: uppercase;
    }
    .review-carousel {
        width: 100%;
    }
    .man {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__comment {
        margin-top: 35px;
        font-size: 4.70vw;
        color: @grey;
        line-height: 6.35vw;
        &__img {
            width: 26.14%;
        }
        &__name {
            margin-left: 12px;
        }
        span {
            font-family: @bold;
            font-size: 5.41vw;
            line-height: 7.29vw;
            color: @black;
        }
        &__text {
            margin-top: 24px;
        }
    }
    &__video {
        margin-top: 20px;
        background: #a768ff;
        img {
            margin-top: -2px;
            width: 100%;
        }
        &__text {
            margin-top: -16vw;
            color: @white;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
        }
        video {
            margin-top: 10px;
            width: 100%;
        }
        .img-btm {
            height: 0px;
            width: 26.82%;
            margin: auto;
            margin-top: -6.585vw;
            img {
                position: absolute;
                height: auto;
                
            }
        }
    }
    .flickity-prev-next-button.previous {
        left: -15px !important;
        top: 8.7vw;
        background: none !important;
        color: #ACACAC !important;
    }
    .flickity-prev-next-button.next {
        right: -15px !important;
        top: 8.7vw;
        background: none !important;
        color: #ACACAC !important;
    }
}
.order {
    &__info{
        padding-top: 25.41vw;
        background: #FED632;
        &__title {
            font-size: 8.47vw;
            font-family: @kosko;
            text-transform: uppercase;
            text-align: center;
        }
        &__description {
            margin-top: 9.41vw;
            font-size: 20px;
            line-height: 25px;
        }
        .img-btm {
            margin-top: -14.82vw;
            width: 100%;
        }
    }
    .img-logo {
        width: 71.52%;
        margin: auto;
        margin-top: -28.23vw;
    }
    &__preview {
        margin-top: -23px;
        .order-carousel {
            width: 72%;
            height: 70.9035vw;
            margin: auto;
            .image {
                width: 100%;
            }
            .title {
                margin-top: -5px;
                font-size: 23px;
                color: @grey;
                text-align: center;
            }
        }
        &__cost {
            margin-top: 12px;
            font-size: 31px;
            text-align: center;
            span {
                text-decoration: line-through;
            }
        }
        input {
            display: block;
            width: 76.90%;
            height: 58px;
            border: 1px solid @grey;
            border-radius: 7px;
            text-align: center;
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
        }
        input:focus, input:active {
            outline: none;
        }
        &__name {
            margin: auto;
            margin-top: 25px;
        }
        &__phone {
            margin: auto;
            margin-top: 6px;
        }
        &__info {
            margin-top: 15px;
            font-size: 3.76vw;
            line-height: 4.70vw;
            color: @grey;
        }
        &__btn {
            width: 76.90%;
            height: 79px;
            margin: auto;
            margin-top: 14px;
        }
    }
    &__line {
        margin-top: 35px;
        height: 1px;
        background: url(../img/Path\ 9.png);
    }
    .flickity-prev-next-button.previous {
        left: -10px !important;
        bottom: -30px !important;
        top: unset;
        background: none !important;
        color: @grey !important;
    }
    .flickity-prev-next-button.next {
        right: -10px !important;
        bottom: -30px !important;
        top: unset;
        background: none !important;
        color: @grey !important;
    }
}
.footer {
    margin-top: 30px;
    &__title {
        font-size: 5.41vw;
        text-align: center;
        text-transform: uppercase;
    }
    .toggle {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            display: none;
        }
        input + label {
            opacity: 0.4;
            font-size: 20px;
            display: inline-block;
            height: 57px;
            text-align: center;
            padding-top: 15px;
        }
        input + label:nth-child(2) {
            width: 40.70%;
        }
        input + label:nth-child(4) {
            width: 59.30%;
        }
        input:checked + label {
            opacity: 1;
            background: #F1F1F1;
        }
    }
    &__data {
        padding-top: 25px;
        background: #F1F1F1;
        a {
            display: block;
            margin-top: 25px;
            text-decoration: none
        }
        .adress {
            // height: 45px;
        }
        .phone {
            width: 100%;
            height: 79px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            img {
                width: 10.09%;
            }
            .number {
                font-family: @bold;
                margin-left: 10px;
            }
        }
    }
    .hide {
        display: none;
    }
    .ofice {
        margin-top: 25px;
        width: 100%;
    }
    .ip {
        .text-container {
            width: 75%;
        }
        color: @white;
        background: @black 0% 0% no-repeat padding-box;
        font-family: @bold;
        padding-top: 33px;
        padding-bottom: 36px;
        .footer__info {
            font-size: 15px;
            letter-spacing: 0.45px;
            line-height: 20px;
        }
        .footer__policy {
            color: @white;
            font-size: 13px;
            letter-spacing: 0.39px;
            margin-top: 9px;
        }
        a:link, a:visited, a:active, a:hover {
            color: @white;
        }
    }
}

@media (min-width:425px) {
    .container {
        max-width: 425px;
    }
    .header {
        &__back {
            .img-btm {
                margin-top: -156px;
            }
        }
        .img-logo {
            padding-top: 48px;
        }
        &__title {
            margin-top: -19px;
        }
        &__cost {
            margin-top: 45px;
            font-size: 31px;
            line-height: 30px;
        }
        &__btn {
            margin-top: 285px;
            font-size: 25px;
        }
        &__sell {
            margin-top: 35px;
            font-size: 36px;
        }
    }
    .inform {
        &__images {
            margin-top: 171px;
            height: 460px;
            &__carousel {
                top: -161px;
            }
            .inform-carousel {
                height: 712.02px;
            }
        }
        &__text {
            &__btm {
                margin-top: 107px;
            }
        }
    }
    .collection {
        &__img-top {
            height: 67px;
        }
        &__body {
            padding-top: 64px;
            padding-bottom: 23px;
            .tagline {
                font-size: 36px;
            }
            .child {
                margin-left: 27px;
            }
            .offer {
                font-size: 23px;
                line-height: 31px;
            }
            .info {
                font-size: 18px;
            }
            .btn {
                font-size: 25px;
            }
        }
    }
    .description {
        .description-carousel {
            height: 382.59px;
        }
        &__material {
            margin-top: 35px;
            height: 180px;
            img {
                margin-top: 49px;
            }
            &__text {
                margin-top: 42px;
                margin-left: 12px;
                font-size: 23px;
                line-height: 31px;
            }
        }
        .slider {
            height: 345.19px;
        }
    }
    .review {
        margin-top: -50px;
        &__title {
            padding-top: 127px;
            font-size: 36px;
        }
        &__comment {
            margin-top: 35px;
            font-size: 20px;
            line-height: 27px;
            span {
                font-size: 23px;
                line-height: 31px;
            }
        }
        &__video {
            &__text {
                margin-top: -68px;
            }
            .img-btm {
                margin-top: -28px;
                width: 114px;
            }
        }
        .flickity-prev-next-button.previous {
            left: -10px !important;
            top: 37px;
        }
        .flickity-prev-next-button.next {
            right: -10px !important;
            top: 37px;
        }
    }
    .order {
        &__info{
            padding-top: 108px;
            &__description {
                margin-top: 40px;
            }
            .img-btm {
                margin-top: -63px;
            }
            &__title {
                font-size: 36px;
            }
        }
        .img-logo {
            margin-top: -120px;
        }
        &__preview {
            .order-carousel {
                height: 301.34px;
            }
            &__info {
                font-size: 16px;
                line-height: 20px;
            }
        }
        
    }
    .footer {
        &__title {
            font-size: 23px;
        }
    }
}

