@grey: #707070;
@pink: #FF8BD8;
@black: #000000;
@white: #FFFFFF;
@yellow: #FED632;

@bold: 'Segoe UI Semibold', sans-serif;
@regular: 'Segoe UI Regular', sans-serif;
@kosko: 'KoskoBold Bold', sans-serif;

* {
    box-sizing: border-box;
    font-family: @regular;
}

.container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.content-container {
    max-width: 76.90%;
    margin: auto;
}
.text-container {
    max-width: 82.5688%;
    margin: auto;
}
.href-decor {
    text-decoration:none;
}
img {
    display: block;
}
.button {
    display: block;
    background: @yellow 0% 0% no-repeat padding-box;
    border-radius: 12px;
    font-family: @bold;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
button:active, button:focus {
    position: гelative;
    border: none;
    outline: none;
}
.flickity-viewport {
    overflow: visible !important;
}
.carousel-cell {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}
.is-selected {
    opacity: 1;
    transition: opacity 0.5s;
}
.flickity-prev-next-button {
    height: 52px !important;
    background: none !important;
    color: #787878 !important;
    .flickity-button-icon {
        width: 26px;
        height: 52px;
        top: 0;
    } 
}
.flickity-prev-next-button.next {
    right: -20px !important;
}
.flickity-prev-next-button.previous {
    left: -20px !important;
}
.href-decor {
    cursor: unset;
}
.flickity-page-dots {
    pointer-events: none;
    .dot {
        pointer-events: auto;
    }
}
