@import './_fonts.less';
@import './_mixin.less';

.header {
    &__back {
        background: transparent linear-gradient(180deg, #FED632 0%, #FED632 80%, #EFBE1B 100%) 0% 0% no-repeat padding-box;
        padding: 7.76vw 0 9.64vw 0;
    }
    &__title {
        font-size: 5.41vw;
        font-family: @bold;
    }
    &__description {
        margin-top: 3.05vw;
        font-size: 4vw;
        line-height: 5.17vw;
    }
    &__tagline {
        font-size: 4.70vw;
        line-height: 6.58vw;
        font-family: @bold;
        text-transform: uppercase;
        margin-top: 7.05vw;
    }
    &__info {
        font-size: 4vw;
        line-height: 5.17vw;
        color: @grey;
        margin-top: 2.35vw;
    }
    &__offer {
        margin-top: 7.05vw;
        padding: 6.11vw 0 6.82vw 0;
        background: transparent linear-gradient(180deg, #B870FF 0%, #B66EFD 18%, #A661EC 59%, #9A57DE 100%) 0% 0% no-repeat padding-box;
        color: @white;
        &__title {
            font-size: 5.41vw;
            line-height: 7.29vw;
            font-family: @bold;
            text-transform: uppercase;
            text-align: center;
        }
        &__description {
            margin-top: 1.17vw;
            font-size: 4.70vw;
            line-height: 5.64vw;
            text-align: center;
        }
    }
}
.products {
    .offer {
        position: relative;
        width: 100%;
        margin-bottom: 19px;
        .sale {
            position: absolute;
            width: 26.82vw;
            height: 11.76vw;
            background: @yellow;
            left: 0;
            top: 3.53vw;
            font-size: 5.64vw;
            font-family: @bold;
            text-align: center;
            padding-top: 2.35vw;
            z-index: 10;
        }
        .carousel {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .title {
            font-size: 20px;
            line-height: 28px;
            font-family: @bold;
            color: @grey;
            margin-top: 27px;
            span {
                font-family: @bold;
                white-space: nowrap;
            }
        }
        .tov-val {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px; 
        }
        .cost {
            font-size: 24px;
            line-height: 32px;
            font-family: @bold;
            span {
                text-decoration: line-through;
                font-family: @bold;
            }
        }
        .raiting {
            width: 27.05vw;
            height: 5.41vw;
            background-size: contain;
        }
        .description {
            font-size: 17px;
            line-height: 25px;
            color: @grey;
            margin-top: 21px;
        }
        .btn {
            width: 100%;
            height: 73px;
            font-size: 5.64vw;
            margin-top: 24px;

        }
    }
}
.rait-50 {
    background: url(../img/raiting/93.png) no-repeat;
}
.rait-45 {
    background: url(../img/raiting/91.png) no-repeat;
}
.rait-40 {
    background: url(../img/raiting/94.png) no-repeat;
}
.rait-35 {
    background: url(../img/raiting/92.png) no-repeat;
}
.youtube {
    height: 100%;
}

@media (min-width:425px) {
    .container {
        max-width: 425px;
    }
    .header {
        &__back {
            padding: 33px 0 41px 0;
        }
        &__title {
            font-size: 23px;
        }
        &__description {
            margin-top: 13px;
            font-size: 17px;
            line-height: 22px;
        }
        &__tagline {
            font-size: 20px;
            line-height: 28px;
            margin-top: 30px;
        }
        &__info {
            font-size: 17px;
            line-height: 22px;
            margin-top: 10px;
        }
        &__offer {
            margin-top: 30px;
            padding: 26px 0 29px 0;
            &__title {
                font-size: 23px;
                line-height: 31px;
            }
            &__description {
                margin-top: 5px;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .products {
        .offer {
            .sale {
                width: 114px;
                height: 50px;
                top: 15px;
                font-size: 24px;
                padding-top: 10px;
            }
            .title {
                font-size: 20px;
                line-height: 28px;
                margin-top: 27px;
            }
            .tov-val {
                margin-top: 12px;
            }
            .cost {
                font-size: 24px;
                line-height: 32px;
            }
            .raiting {
                width: 155px;
                height: 23px;
            }
            .description {
                font-size: 17px;
                line-height: 25px;
                margin-top: 21px;
            }
            .btn {
                height: 73px;
                margin-top: 24px;
                font-size: 24px;
            }
        }
    }
}

